.spinnerWrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 30%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.spinnerWrapper .loader {
    font-size: 36px;
    color: #fff;
    position: relative;
    display: flex;
}
.spinnerWrapper .loader span {
    padding: 3px 5px;
    animation: top-to-bottom 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes top-to-bottom {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}