.navBarContainer {
    padding: 1rem;
}
.navBarContainer .navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navBarContainer .navbar .heading {
    font-size: 2rem;
    font-weight: 300;
}