:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #001f3f;
  --lime-green-color: #32cd32;
  --main-bgcolor: #0051a1;
  --green-bgcolor: #3aafa9;
  --red-color: #f00;
  --lightgrey-color: rgb(190, 190, 190);
  --grey-color: rgb(128, 128, 128);
  --orange-color: rgb(250, 164, 3);
  --green-color: #0f0;
  --pink-color: rgb(255, 192, 203);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
}